body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
}
.grid{
    display: grid;
}
.logo img{
    margin-right: 15px;
}
.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}
.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}
.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}
.header_link:hover{
    font-weight: bold;
}
.header_ul{
    margin-right: 75px;
}
.header_li:not(:last-of-type){  
    margin-right: 40px;
}
.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}
.button:hover{
    cursor: pointer;
    transition: 500ms;
    background: #2230b6;
}
.section{
   background-color: #F4F5F7;
   padding: 77px 0 76px;
}
.section_container{
    max-width: 555px;
}
.section_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}
.section_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-top: 12px;
}
.section_logo{
    padding: 30px 0 106px;
}
.grid_comp{
    display:grid;
    grid-template-columns: repeat(4, 262px);
    height: 300px;
    gap: 30px;
}
.section_div_comp{
    text-align: center;
}
.section_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 24px;
}
.section_h3{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}
.section_text{
    font-size: 24px;
    line-height: 34px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 34px;
}
.button_section{
    background: #FFFFFF;
    color: #000000;
    margin-bottom: 111px;
}
.button_section:hover{
    transition: 500ms;
    background: #3040C4;
    color: #FFFFFF;
}
.comp_button:not(:first-child){
    margin-left: 10px;
}
.section_comp{
    background-color: rgba(0, 161, 198, 0.2);
    padding: 110px 0 110px; 
}
.div_comp{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    Font-style: bold;
    Font-size: 22px;
    Line-height: 28px;
    color: #2B292D;
    text-align: center;
}
.div_comp:hover{
    background: #3141C5; 
    color: #FFFFFF;
    transition: 500ms;
}
.section_img{
    margin-top: 22px;
}
.text_comp{
    margin-bottom: 33px;
}


.inbox{
    background-color: rgba(252, 240, 227, 0.4);
    padding: 117px 0 116px;
}

.info_pretitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;  
}
.info_pretitle-orange{
    color: #F1592B; 
    margin-bottom: 26px; 
}
.info_title{
    max-width: 462px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px; 
}
.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px; 
}
.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid rgba(1, 133, 208, 1);
}
.inbox_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;  
    padding-bottom: 26px;
}
.inbox_text-bolt{
    font-weight: 700;
}
.flex_start{
    justify-content: start;
}
.inbox_img{
    margin-right: 11px;
}
.inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}
.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.info_pretitle-blue{
    color: rgba(1, 137, 209, 1)
}


.inbox-conainer{
    margin: 110px 0 105px;
}
.container-image-2{
    margin-left: 193px;
}
.box-container{
    max-width: 360px;
    height: 115px;
    margin-bottom: 205px;
}
.inbox_name-blue{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: rgba(48, 64, 196, 1);
}
.section_tex-bold{
    font-weight: 700;
    color: #000000;
}

.section_div_pic{
    text-align: center;
} 
.grid_img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 41px
}
.item_pic:nth-child(3), .item_pic:nth-child(4) {
    grid-row: span 2;
}
.section_pic_h3{
    font-weight: 700;;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
    margin-top: 90px;
}
.section_pic_text{
    font-size: 24px;
    line-height: 34px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 97px;
}